@font-face {
    font-family: 'SchoolSafetyWing';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimNalgaeR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}